<p>
	This is a confirmation that you purchased <%= @product.name %> for <%= number_to_currency(@product.price) %>.<br/>
	Your order number for reference is <%= @order.id %>.
</p>

<p>If you have any questions please email admin@store.com</p>
<p>Please do not reply to this email.</p>