/* CONTAINER */

.container {
	padding-bottom: 40px;
}

/* PRODUCT VIEWS */

.product-img {
	margin: 16px;
}

.product-detail {
	padding-top: 40px;
}

.single-line-title h1 {
	display: inline;
}

.single-line-title .btn {
	float: right;
}

.pagination {
	padding-top: 15px;
}

/* ORDER VIEWS */

.order-detail {
	width: 65%;
	margin: auto;
}

.price {
	font-size: 2em;
	padding-bottom: 20px;
}

