<div class="row">
	<div class="col-lg-12">
		<div class="page-header">
			<div class="single-line-title">
				<h1>Products</h1>
				<%= link_to "Sell New Item", new_product_path, class: 'btn btn-primary' %>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<% @products.each do |product| %>
		<%= render partial: 'product', locals: {product:product} %>
	<% end %>
</div>

<div class="row">
	<div class="col-lg-12 text-center">
		<div class="pagination">
			<%= will_paginate @products %>
		</div>
	</div>
</div>